/* Class for the square container */
.square {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}

/* Square Text (i.e. e4) */
.squareText {
  position: absolute;
  padding-right: 60px;
  padding-bottom: 60px;
  color: white;
}

/* Image of the piece */
.piece {
  width: 80px;
}
